
.menu-background {
   background: url("../assets/images/backround.png") no-repeat center center fixed;
   background-size: cover;
   background-color: #8ED8BF; /* Grön färg */
 }
 

 .default-background {
   background: none; 
   background-color: white; 
 }